@model BKLedger_010.Models.LedgerMember

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LedgerMember</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LedgerUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LedgerUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ledger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ledger.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
